main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

h3 {
    font-size: 25px;
}

.movie_card {
    border: 1px solid black;
}

img {
    max-height: 300px;
}

ul {
    list-style: none;
}
















