* {
    font-family: Bahnschrift;
}

main {
    justify-content: center;
}

.red {
    color: red;
}

.green {
    color: green;
}

.container {
    display: flex;
}

.card {
    border: 1px solid black;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.image {
    width: 200px;
}